<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Marcas</title>
</head>
<body>

    <h2>Listado de Marcas</h2>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de marcas -->
            <tr th:each="marca : ${listaMarcas}">
                <td th:text="${marca.id}"></td>
                <td th:text="${marca.nombre}"></td>
                <td>
                    <!-- Enlaces para actualizar y eliminar cada marca -->
                    <a th:href="@{'/marcas/actualizar/' + ${marca.id}}">Actualizar</a>
                    <a th:href="@{'/marcas/eliminar/' + ${marca.id}}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
<a th:href="@{/marcas/formulario}">Añadir nueva marca</a>
<div th:if="${mensajeExito}" class="alert alert-success">
        <p th:text="${mensajeExito}"></p>
    </div>
</body>
</html>
